* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.m-head {
    text-align: center;
    margin-top: 20px;
}

.city {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 70%; 
}

.search {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 150px; 
    margin-bottom: 20px;
}

.card-item {
    border: 1px solid white;
    width: calc(20% - 20px); 
    height: 120px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.b-p {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .card-item {
        width: calc(50% - 20px); 
    }
    .search{
        margin-top: 2vh;
        margin-left: 24.3vw;
    }
}
.res-check{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
}
.footer{
    font-size: xx-large;
    margin-top: 20px;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}
